/*selector{
	     property:value;
	     }
*/
h2{
	text-align: center;
	background-color: rgb(1,4,5);
	color: rgb(155,6,7);
}
p{
	text-transform: none;
	line-height: 30px; 
	font-size: 150%;
	font-family: satisfy;
}
img{
	float: left;
}
footer{
	
	color: rgb(244,23,54);
}
.boxmodel{
	border: 5px solid red
	padding: 80px,50px;
}
span{
	font-size: 2em
}
