/*selector{
	     property: value:
}
*/

body ,html {
	
	background-size: cover;
	text-align: left;
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQHT3YKjiSygTTEW78OsT31iGj3BEFD_PtEVkqqb3zRTOPrqgS1&usqp=CAU');
	background-repeat: no-repeat;
	height: 100%
}

h2:hover {
	text-align:center;
	border:5px dashed purple; 
	cursor:;line-height: 
}
li{
	list-style: none;
	display: inline-block;

}
.webtext {
	color:red !important;
}
.webtextactive{
	color: orange;
}
#div1 {
	background-color:rgba(0,66,0,.2);
}
