body{
	background-image: url(https://swall.teahub.io/photos/small/303-3034766_10d-full-hd-wallpaper-for-laptop-nature-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.menu {
	/*background-color:blue;*/
	text-decoration: none;
	padding-left: 60px;
	margin:30px;

}
.menu ul{
	padding: 60px;
}
.menu ul li{
	padding: 20px;
	list-style: none;
}
.menu ul li a:hover{
	cursor: pointer;
}
.menu .fa{
	margin-right: 10px;

}
.active,menu ul li .fa{
	cursor: pointer;
	margin-left: 8px;

}